<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="home.css" rel="stylesheet" />
<script src="js/angular.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>

<html>
<body>
    <div class="page-header">
        <img src="images/capgemini logo.png" alt="logo" />
        <h1><span class="titelcolor1">Ask</span><span class="titelcolor2">Capbot</span></h1>
    </div>
    <div class="row">
        <div ng-app="" class="chat">
            <div class="bubble me" id="div1">
                <p>My name is Capbot. I am in contact with my <span class="strong">180.000 colleagues</span>. I know about their expertise and I am able to match them to your questions.</p>
            </div>
            <div class="bubble me" id="div2"><p>So nice to meet you! What is your name so we can make this conversation a bit more personal?</p></div>
            <div class="inputForm" id="div3">
                <h1>What's your name?</h1>
                <input type="text" ng-model="name" placeholder="Enter name here">
                <button ng-click="showdiv4=true" type="submit" class="btn-submit">Send</button>
            </div>
            <div class="bubble me" ng-show="showdiv4" id="div4">
                <p>Well nice to meet you <span class="strong">{{name}}</span>. I suppose you have a burning question for me. But before we begin with this I need to know two things from you. <span class="italic">1. In what kind of industry is your question related?</span></p>
            </div>
            <div class="form">
                <h1>
                    <span class="titelcolor1">Select</span><span class="titelcolor2">your industry</span>
                </h1>
                <ul class="buttons-grid">
                    <li><button type="submit" class="grid-button"><img src="icons/industries/aerospace.png" />Aerospace & Defence</button></li>
                    <li><button type="submit" class="grid-button">Industrial Products</button></li>
                    <li><button type="submit" class="grid-button">Automotive</button></li>
                    <li><button type="submit" class="grid-button">Insurance</button></li>
                    <li><button type="submit" class="grid-button">Banking & Capital Markets</button></li>
                    <li><button type="submit" class="grid-button">Life Sciences</button></li>
                    <li><button type="submit" class="grid-button">Consumer Products & Retail</button></li>
                    <li><button type="submit" class="grid-button">Manufacturing</button></li>
                    <li><button type="submit" class="grid-button">Distribution & Transportation</button></li>
                    <li><button type="submit" class="grid-button">Oil & Gas, Chemicals</button></li>
                    <li><button type="submit" class="grid-button">Healthcare</button></li>
                    <li><button type="submit" class="grid-button">Public Sector</button></li>
                    <li><button type="submit" class="grid-button">High Tech</button></li>
                    <li><button type="submit" class="grid-button">Telecoms & Entertainment</button></li>
                    <li><button type="submit" class="grid-button">Utilities</button></li>
                    <li><button type="submit" class="grid-button">Other</button></li>
                </ul>
            </div>

            <div class="bubble me">
                <p>Hmmmm... i like oil. That's good for my body. Just one more question before you're up <span class="strong">{{name}}</span>. What is the category of your question?</p>
            </div>

            <div class="form">
                <h1>
                    <span class="titelcolor1">Category of</span><span class="titelcolor2">your question</span>
                </h1>
                <ul class="buttons-grid">
                    <li><button type="submit" class="grid-button">Application Services</button></li>
                    <li><button type="submit" class="grid-button">Digital Customer Experience</button></li>
                    <li><button type="submit" class="grid-button">Business Services</button></li>
                    <li><button type="submit" class="grid-button">Infrastructure Services</button></li>
                    <li><button type="submit" class="grid-button">Cloud Choice</button></li>
                    <li><button type="submit" class="grid-button">Insights & Data</button></li>
                    <li><button type="submit" class="grid-button">Consulting Services</button></li>
                    <li><button type="submit" class="grid-button">Technology and Engineering</button></li>
                    <li><button type="submit" class="grid-button">Digital Services</button></li>
                    <li><button type="submit" class="grid-button">Ready2Series</button></li>
                    <li><button type="submit" class="grid-button">Digital Manufacturing</button></li>
                    <li><button type="submit" class="grid-button">Secure your assets</button></li>
                    <li><button type="submit" class="grid-button">Testing Services</button></li>
                    <li><button type="submit" class="grid-button">Other</button></li>
                </ul>
            </div>
            <div class="bubble me">
                <p id="demo">{{output}}</p>
            </div>

            <div class="form">
                <h1>
                    <span class="titelcolor1">Formulate</span><span class="titelcolor2">your question</span>
                </h1>
                <form class="form-inline">
                    <div class="form-inline">
                        <input type="text" class="form-control" id="firstNamelastName" placeholder="First & Lastname">
                        <input type="text" class="form-control" id="company" placeholder="Company">
                    </div>
                    <div class="form-inline">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        <input type="text" class="form-control" id="telephonenumber" placeholder="Telephone number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject in one sentence">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="question" placeholder="Your question">
                    </div>
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                    </div>
                    <button type="submit" class="btn-finish">Finish</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
