<html>
<head>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="home.css" rel="stylesheet" />
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="home.js"></script>
    <title>Ask Capbot</title>
</head>
<body>
    <div class="header">
        <div class="pit-header-logo"><img src="images/capgemini logo.png" alt="logo" /></div>
        <div class="header-text"><h1><span class="titelcolor1">Ask</span><span class="titelcolor2">Capbot</span></h1></div>
    </div>
    <div class="row">
        <div ng-app="" class="chat">
            <div class="bubble me">
                <p>My name is Capbot. I am in contact with my <span class="strong">180.000 colleagues</span>. I know about their expertise and I am able to match them to your questions.</p>
            </div>

            <div class="bubble me"><p>So nice to meet you! What is your name so we can make this conversation a bit more personal?</p></div>
            <div class="inputForm">
                <h1>What's your name?</h1>
                <input type="text" ng-model="name" placeholder="Enter name here">
                <button ng-click="showdiv4=true" type="submit" class="btn-submit">Send</button>
            </div>
            <div class="bubble me" ng-show="showdiv4" id="div4">
                <p>Well nice to meet you <span class="strong">{{name}}</span>. I suppose you have a burning question for me. But before we begin with this I need to know two things from you. <span class="italic">1. In what kind of industry is your question related?</span></p>
            </div>
            <div class="form">
                <h1>
                    <span class="titelcolor1">Select</span><span class="titelcolor2">your industry</span>
                </h1>
                <ul class="buttons-grid">
                    <li><button otype="submit" class="grid-button"><img class="pit-icons" src="icons/industries/aerospace.png" /> Aerospace & Defence</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/industrial.png" /> Industrial Products</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/automotive.png" /> Automotive</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries//insurance.png" /> Insurance</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/banking_0.png" /> Banking & Capital Markets</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/lifescience.png" /> Life Sciences</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/consumerprod_0.png" /> Consumer Products & Retail</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/manufacture.png" /> Manufacturing</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/insightsdata_0.png" /> Distribution & Transportation</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/oil.png" /> Oil & Gas, Chemicals</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/healthcare.png" /> Healthcare</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/publicsec.png" /> Public Sector</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/hightech.png" /> High Tech</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/telecom.png" /> Telecoms & Entertainment</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/utilities.png" /> Utilities</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/telecom.png" /> Other</button></li>
                </ul>
            </div>

            <div class="bubble me">
                <p>Hmmmm... i like oil. That's good for my body. Just one more question before you're up <span class="strong">{{name}}</span>. What is the category of your question?</p>
            </div>

            <div class="form">
                <h1>
                    <span class="titelcolor1">Category of</span><span class="titelcolor2">your question</span>
                </h1>
                <ul class="buttons-grid">
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/applife.png" /> Application Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/icon_connectivity_50x50px_0.png" /> Digital Customer Experience</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/businessprocess.png" /> Business Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/infraserve.png" /> Infrastructure Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/cloud.png" /> Cloud Choice</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/insightsdata.png" /> Insights & Data</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/conserve.png" /> Consulting Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/profserv.png"> Technology and Engineering</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/digiservices.png" /> Digital Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/bpo.png" /> Ready2Series</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/digitalmfg.png" /> Digital Manufacturing</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/secureyourassets.png" /> Secure your assets</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/testserve.png" /> Testing Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/telecom.png" /> Other</button></li>
                </ul>
            </div>
            <div class="bubble me">
                <p id="demo">{{output}}</p>
            </div>

            <div class="form">
                <h1>
                    <span class="titelcolor1">Formulate</span><span class="titelcolor2">your question</span>
                </h1>
                <form>
                    <ul class="buttons-grid">
                        <li><input type="text" class="form-input" id="firstNamelastName" placeholder="First & Lastname"></li>         
                        <li><input type="text" class="form-input" id="inputEmail" placeholder="Company email"></li>
                        <li><input type="text" class="form-input" id="company" placeholder="Company"></li>
                        <li><input type="text" class="form-input" id="telephonenumber" placeholder="Telephone number"></li>
                    </ul>
                    <div class="form-group">
                        <input type="text" class="form-input" id="subject" placeholder="Subject in one sentence">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="question" placeholder="Your question"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="image-upload">
                            <label for="file-input">
                                <img src="icons/plus.svg" />
                            </label>
                            <input id="file-input" type="file" />
                            <label for="mail">ADD FILES</label>
                        </div>
                    </div>
                    <button type="submit" class="btn-finish">Finish</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>
