<html>
<head>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="home.css" rel="stylesheet" />
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="index.js"></script>
    <title>Ask Capbot</title>
</head>
<body>
    <div class="header">
        <div class="pit-header-logo"><img src="images/capgemini logo.png" alt="logo" /></div>
        <div class="header-text"><h1><span class="titelcolor1">Ask</span><span class="titelcolor2">Capbot</span></h1></div>
    </div>
    <div class="row">
        <div ng-app="myApp" ng-controller="industry as ctrl" class="chat">
            <div class="bubble me">
                <p>My name is Capbot. I am in contact with my <span class="strong">180.000 colleagues</span>. I know about their expertise and I am able to match them to your questions.</p>
            </div>

            <div class="bubble me"><p>So nice to meet you! What is your name so we can make this conversation a bit more personal?</p></div>
            <div class="inputForm">
                <h1>What's your name?</h1>
                <input type="text" ng-model="name" placeholder="Enter name here">
                <button ng-click="showDivIntro=true" type="submit" class="btn-submit">Send</button>
            </div>
            <div class="bubble me" ng-show="showDivIntro" id="div4">
                <p>Well nice to meet you <span class="strong">{{name}}</span>. I suppose you have a burning question for me. But before we begin with this I need to know two things from you. <span class="italic">1. In what kind of industry is your question related?</span></p>
            </div>

            <div class="form">
                <h1>
                    <span class="titelcolor1">Select</span><span class="titelcolor2">your industry</span>
                </h1>
                <ul class="industries buttons grid" ng-controller="industry">
                    <li ng-repeat="industry in ctrl.industries">
                        <button class="grid-button" ng-click="ctrl.setIndustrieText(industry.text)">
                            <img ng-src="{{industry.images[0]}}" />
                            {{industry.definition}}
                        </button>
                    </li>
                </ul>
            </div>

            <div class="bubble me procedure-details" ng-if="ctrl.industrieText != ''">
                <p>{{ctrl.industrieText}} Just one more question before you're up <span class="strong">{{name}}</span>. What is the category of your question?</p>
            </div>

            <div class="form">
                <h1>
                    <span class="titelcolor1">Category of</span><span class="titelcolor2">your question</span>
                </h1>
                <ul class="buttons-grid">
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/applife.png" /> Application Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/icon_connectivity_50x50px_0.png" /> Digital Customer Experience</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/businessprocess.png" /> Business Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/infraserve.png" /> Infrastructure Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/cloud.png" /> Cloud Choice</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/insightsdata.png" /> Insights & Data</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/conserve.png" /> Consulting Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/profserv.png"> Technology and Engineering</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/digiservices.png" /> Digital Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/bpo.png" /> Ready2Series</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/digitalmfg.png" /> Digital Manufacturing</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/secureyourassets.png" /> Secure your assets</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/services/testserve.png" /> Testing Services</button></li>
                    <li><button type="submit" class="grid-button"><img class="pit-icons" src="icons/industries/telecom.png" /> Other</button></li>
                </ul>
            </div>

            <div class="bubble me">
                <p> </p>
            </div>

            <div class="form">
                <h1>
                    <span class="titelcolor1">Formulate</span><span class="titelcolor2">your question</span>
                </h1>
                <form>
                    <ul class="buttons-grid">
                        <li><input type="text" class="form-input" id="firstNamelastName" placeholder="First & Lastname"></li>
                        <li><input type="text" class="form-input" id="inputEmail" placeholder="Company email"></li>
                        <li><input type="text" class="form-input" id="company" placeholder="Company"></li>
                        <li><input type="text" class="form-input" id="telephonenumber" placeholder="Telephone number"></li>
                    </ul>
                    <div class="form-group">
                        <input type="text" class="form-input" id="subject" placeholder="Subject in one sentence">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="question" placeholder="Your question"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="image-upload">
                            <label for="file-input">
                                <img src="icons/plus.svg" />
                            </label>
                            <input id="file-input" type="file" />
                            <label for="mail">ADD FILES</label>
                        </div>
                    </div>
                    <button type="submit" class="btn-finish">Finish</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>
